@import "../../styles/variables";

// Varaibles
$item-count: 6;
$item: 1 / $item-count;

.loader {
  position: fixed;
  background: $text;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: top 2s 1s;

  .box {
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 45%;
    &::before {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      content: "";
      height: 10px;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
    }
    &::after {
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      content: "";
      height: 10px;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      );
    }
  }

  ul {
    margin: 0;
    padding: 0;
    animation: scrollUp 1.5s 0.16s;
    li {
      opacity: 1;
      height: 20px;
      padding: 10px;
      list-style: none;
      color: $content;
      font-size: 3rem;
      line-height: 10rem;
    }
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY((-130% / $item-count) * ($item-count - 1));
  }
}

@keyframes top {
  from {
    top: 0;
    height: 100%;
  }
  to {
    top: -100vh;
    height: 0;
  }
}
